.App {
  text-align: center;
}
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
}
.col {
  width: 50px;
  height: 50px;
  border: 10px solid black;
  margin: 10px;
}
.options-field {
  margin-top: 20px;
}
button {
  padding: 10px;
  margin: 5px;
}
